@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, 400);
  line-height: 1.5;
  background-color: $clr-rose-50;
}

h1 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
  color: $clr-rose-900;
}

.container {
  max-width: 1216px;
  // border: 1px solid black;
  margin: 0 auto;
}

.product-list {
  // border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-item {
  width: 250px;

  &__img-container {
    position: relative;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 2rem;
  }

  &__type {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $clr-rose-500;
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;

    color: $clr-rose-900;
  }

  &__cost {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: $clr-red;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 160px;
    max-width: 160px;
    height: 44px;
    background: $clr-white;
    border: 1px solid $clr-rose-300;
    color: $clr-rose-900;
    font-weight: 500;
    font-size: 14px;
    border-radius: 999px;
    cursor: pointer;
    position: absolute;
    left: 50px;
    bottom: -20px;
  }

  &__image {
    border-radius: 10px;
  }
}
