@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, 400);
  line-height: 1.5;
  background-color: $clr-rose-50;
}

body.fixed {
  position: fixed;
}

h1 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
  color: $clr-rose-900;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;
  height: 44px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 999px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  opacity: 0.6;
  z-index: 1;
  background-color: rgb(0, 0, 0);
}

.container {
  margin: 0 auto;
  display: flex;
  padding-top: 4rem;
  padding-left: 2rem;

  @include mq(tablet) {
    flex-direction: column;
    padding: 1rem;
  }
}

//////////////////////////////////////////////
////////////////Menu and list////////////////////
//////////////////////////////////////////////

.menu {
  max-width: 850px;
  @include mq(tablet) {
    margin-bottom: 32px;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  @include mq(mobile) {
    grid-template-columns: 1fr;
  }
}

.product-item {
  width: 250px;

  @include mq(tablet) {
    width: 234px;

    justify-self: center;
  }

  @include mq(mobile) {
    // width: 327px;
    // min-width: 289px;
    width: 100%;
  }

  &__img-container {
    position: relative;
    border: 2px solid $clr-rose-50;
    border-radius: 10px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 2rem;
  }

  &__type {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $clr-rose-500;
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;

    color: $clr-rose-900;
  }

  &__cost {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: $clr-red;
  }

  &__button {
    background: $clr-white;
    border: 1px solid $clr-rose-300;
    color: $clr-rose-900;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 160px;

    &:hover {
      border-color: $clr-red;
      color: $clr-red;
    }
  }

  &__image {
    border-radius: 10px;
  }
}

//////////////////////////////////////////////
////////////////Shopping cart////////////////////
//////////////////////////////////////////////

.cart {
  padding: 1.5rem;
  color: $clr-red;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  width: 384px;
  background-color: $clr-white;
  height: calc(100% + 100px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  @include mq(tablet) {
    width: 100%;
  }

  &__heading {
    padding: 1rem 0;
  }
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.5rem;
  &__img {
    width: 120px;
    height: 100px;
  }

  &__text {
    color: $clr-rose-500;
    font-size: 14px;
    font-weight: 500;
  }
}

.cart-items {
  font-size: 16px;
  color: $clr-rose-900;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;

  &__total {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__cost-total {
    font-weight: 700;
    font-size: 24px;
  }
}

.environment-message {
  padding: 1rem;
  display: flex;
  gap: 5px;
  width: 100%;
  background-color: $clr-rose-50;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.environment-icon {
  width: 20px;
  height: 20px;
}

.items-container {
  width: 100%;
}

.item-bottom {
  border-bottom: 1px solid $clr-rose-100;
  padding-bottom: 1rem;
}

.item {
  &__name {
    font-weight: 500;
  }

  &__quantity {
    color: $clr-red;
    font-weight: 600;
  }

  &__price {
    color: $clr-rose-500;
    font-weight: 400;
  }

  &__total-price {
    font-weight: 600;
    color: $clr-rose-500;
  }

  &__btn-delete {
    width: 20px;
    height: 20px;
    border-radius: 999px;
    background-color: transparent;
    // align-self: center;
    margin-left: auto;
    border: 1px solid $clr-rose-400;
    cursor: pointer;
  }
}

.btn-delete-img {
  margin: 0 auto;
}

.item-bottom {
  display: flex;
  justify-content: start;
  gap: 14px;
}

.items__container .item:not(.item:first-of-type) {
  margin-top: 0.6rem;
}

//////////////////////////////////////////////
////////////////Buttons////////////////////
//////////////////////////////////////////////

.btn-confirm,
.modal__button {
  border: 0;
  background-color: $clr-red;
  color: $clr-white;
  width: 100%;
  height: 55px;

  &:hover {
    background-color: #b4330c;
  }
}

.quantity-button {
  display: flex;
  justify-content: space-between;
  background-color: $clr-red;
  border: 0;
  color: $clr-white;
  width: 160px;
  bottom: -20px;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 160px;
}

.btn-quantity {
  &__decrement,
  &__increment {
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }
}

.quantity-icon {
  width: 20px;
  height: 20px;
  border: 1px solid $clr-white;
  border-radius: 100%;
  padding: 3px;
}

//////////////////////////////////////////////
////////////////Modal////////////////////
//////////////////////////////////////////////

.modal {
  position: absolute;
  z-index: 1000;
  padding: 2rem;

  left: 50%;
  transform: translate(-35%, 0);
  top: 10%;
  background-color: white;
  border: 0;
  width: 592px;
  border-radius: 10px;

  @include mq(tablet) {
    transform: translate(-45%, 0);
  }

  @include mq(mobile) {
    position: fixed;
    padding: 1.5rem;
    top: 0;

    width: 100%;
    transform: translate(-50%, 0%);
  }

  &__heading {
    font-size: 40px;
    font-weight: 700;
    color: $clr-rose-900;
    margin-top: 1rem;
  }

  &__message {
    font-size: 16px;
    color: $clr-rose-500;
  }

  &__items-list {
    margin-top: 1.5rem;
    padding: 0.4rem 1rem;
    background-color: $clr-rose-50;
    border-radius: 10px;
  }

  &__item-block {
    padding: 1rem;
    // border: 2px solid black;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $clr-rose-100;
    padding: 1rem 0.3rem;
  }

  &__item-img {
    width: 48px;
    height: 48px;
    border-radius: 10px;
  }

  &__left-cols {
    display: flex;
    gap: 1rem;
  }

  &__item-name {
    color: $clr-rose-900;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__quantity {
    color: $clr-red;
    font-weight: 600;
  }

  &__price {
    color: $clr-rose-500;
  }

  &__col-2-top {
  }

  &__col-1 {
  }

  &__col-2 {
  }

  &__col-2-bottom {
    display: flex;
    gap: 1rem;
  }

  &__col-3 {
    align-self: center;
  }

  &__total {
    color: $clr-rose-900;
    font-weight: 600;
  }

  &__order-total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.3rem;
  }

  &__order-text {
    color: $clr-rose-900;
  }

  &__order-total-number {
    font-weight: 700;
    font-size: 24px;
    color: $clr-rose-900;
  }

  &__button {
    margin-top: 2rem;
    font-size: 16px;
  }
}

.scroll {
  height: 350px;
  overflow-y: auto;

  @include mq(mobile) {
    padding-top: 0.2rem;
  }
}
