@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, 400);
  line-height: 1.5;
  background-color: $clr-rose-50;
}

h1 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
  color: $clr-rose-900;
}
