$clr-red: #c73b0f;
$clr-rose-900: #260f08;
$clr-rose-500: #87635a;
$clr-rose-400: #ad8a85;
$clr-rose-300: #caafa7;
$clr-rose-100: #f5eeec;
$clr-rose-50: #fcf8f6;

$clr-green: #1ea575;
$clr-black: #000;
$clr-white: #fff;
